@use './variables' as v;
@use './minxis' as m;


body {
    margin: 0;
    font-size: 16px;
    font-family: v.$fontSecundary;
    background: v.$pink;
    color: v.$black;
}

.title {
    font-family: v.$fontPrimary;
    text-align: center;
}

.wrapper {
    max-inline-size: 43.75rem;
    margin: 0 auto;
    padding-inline: 1rem;
    box-sizing: border-box;
}
