// fuente
$fontPrimary: "DM Serif Text", serif;
$fontSecundary: "Roboto", sans-serif;


// pantalla
$phone: 420px;
$tablet: 768px;
$desk: 1024px;
$deskXL: 1366px;

// colores
$pink: #f0beb6;
$purple: #47344b;
$white: #F5F5F5;
$black: #232323;
