@use '../base/variables' as v;
@use '../base/minxis' as m;

.form {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;

    &__campo {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    &__input,
    &__textarea {
        padding: .5rem .5rem;
        box-sizing: border-box;
        font-family: v.$fontSecundary;
        border-radius: .5rem;
        border: none;
    }

    &__input:focus,
    &__textarea:focus {
        outline: v.$purple 1px solid;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        margin-block-start: 2rem;

        & > * {
            flex: 1;
        }
    }

    &__buttonReset{
        @include m.btn(v.$purple, v.$white);
        position: relative;
    }

    &__buttonSend{
        @include m.btn(v.$white, v.$purple);
        
        &:disabled {
            opacity: .5;
            cursor: not-allowed;

            &:hover::before {
                content: 'sisi';
                display: block;
            }
        }
    }

    &__error {
        color: red;
        margin: 0;
        padding-inline-start: .5rem;
        font-size: .875rem;
    }

    &__campError {
        border: 1px solid red;
    }

    @include m.tablet {
        &__buttonReset,
        &__buttonSend {
            padding-block: 1rem;
            font-size: 1.125rem;
        }
    }

}