@use '../base/variables' as v;
@use '../base/minxis' as m;

.header {
    padding-block: 1rem;
    background: v.$purple;
    color: v.$white;

    &__logo {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__name {
        text-transform: uppercase;
        font-family: v.$fontSecundary;
        font-size: .875rem;
    }

    @include m.desk {
        grid-column: 1 / -1;
        grid-row: 1;
        padding-block: 2rem;

        &__content {
            max-inline-size: none;
            padding-inline: 3rem;
            margin: 0 auto;
        }

        &__name {
            font-size: 1rem; 
        }

    }
}

